name: Build OpenWRT Firmware

on:
  push:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        model: [
#          'gl-mt300n-v2',
          'gl-ar300m',
          'gl-mt3000',
          'gl-mt6000',
#          'gl-e750',
#          'archer_mr200'
        ]
      fail-fast: false

    runs-on: ubuntu-latest
    name: Build ${{ matrix.model }}

    steps:
      - uses: actions/checkout@v4
      
      - name: Build OpenWRT Image
        id: build-openwrt-image  # Add this ID to reference outputs
        uses: ./
        with:
          model: ${{ matrix.model }}
          nostr_secret_key: ${{ secrets.NOSTR_SECRET_KEY }}
          nostr_public_key: ${{ secrets.NOSTR_PUBLIC_KEY }}
      
      - name: Upload Firmware Artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware-${{ matrix.model }}.img
          path: ${{ steps.build-openwrt-image.outputs.firmware_path }}
          retention-days: 5
